<!DOCTYPE html>
<html>
<head>
	<title>Ruby on Rails Sample App | Contact</title>
</head>
<body>
	<h1>Contact Us</h1>
	<p>
		Contact Ruby on Rails tutorial about the sample app at the 
		<a href="http://railstutorial.org/feedback">feedback page</a>.
	</p>
</body>
</html>